*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:1280px) {
   html{
    font-size: 50%;}
}
body{
      font-family: "Poppins", sans-serif;
}
html {
    font-size: 100%; /*1rem = 16px*/
    /*10/16 = 0.625*/ /*0.625 × 100 = 62.5%*/
    font-size: 62.5%; /*1rem = 10px*/
}

/*632px, 740px, 1024px, 1280px*/
.logo-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

@media (max-width: 700px) {
    .nav-items{
        display: none;
    }
}

.nav-item a{
    text-decoration: none;
    color: #6b7280;
}

.logo-icon {
    color: #16a34a;
    font-size: 3rem;
}

@media (max-width: 900px){
    .hero-container{
        flex-direction: column;
    }
}

.hero-container{
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
}

.hero-text-tag{
    background: #e5e7eb;
    color: #6b7280;
    display: inline-block;
    width: fit-content;
    padding: 2px 1rem;
    border-radius: 2rem;
}

@media (max-width:400px) {
    .hero-text-tag{
        font-size: 1rem;
    }
}
.hero-heading{
   font-size: 5rem;
}

@media (max-width: 900px) {
    .hero-heading {
        font-size: 3rem;
    }
    
}

.hero-paragraph{
  color: #4b5563;
}

.hero-lists{
    list-style: none;
    color: #4b5563;
}

.hero-list{
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-list i{
    color: #16a34a;
}

.primary-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #16a34a;
    padding: 1rem 2rem;
    border-radius: 7px;  
}

.outlined-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #e5e7eb;
    padding: 1.2rem 2rem;
    border-radius: 7px;
}

.hero-btn-wrapper{
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
}
.hero-image-wrapper {
  /* flex-basis: 50%;*/
}

.hero-image {
    width: 50rem;
    height:40rem ;
    border-radius: 1rem;
}

@media (max-width: 900px) {
    .hero-image{
        width: 40rem;
        height: 30rem;
    }
    
}

.how-it-works {
    background-color: #e0f2f1;
    padding: 5rem 2rem;
}

.how-it-works-title {
    text-align: center;
}

.how-it-works-title h3 {
    font-size: 3.2rem;
    font-weight: 500;
}

.how-it-works-title p {
    color: #4b5563;
}

.how-it-works-card-container {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}

@media (max-width:640px) {
    .how-it-works-card-container{
        flex-direction: column;
    }
    
}

.how-it-works-card {
    background-color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}

.how-it-works-card h4 {
    font-weight: 600;
    font-size: 2rem;
}

.card-icon {
    display: flex;
    background-color: #e0f2f1;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #059669;
}

.everything-you-need {
    padding: 5rem 2rem;
}

.everything-you-need-title {
    text-align: center;
}

.everything-you-need-title h3 {
    font-size: 3.2rem;
    font-weight: 500;
}

.everything-you-need-title p{
    color: #4b5563;
}

.everything-you-need-card-container {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}

@media (max-width: 640px) {
    .everything-you-need-card-container {
        flex-direction: column;
    }
    
}

.everything-you-need-card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.everything-you-need-card h4 {
    font-weight: 500;
    font-size: 2rem;
}

.everything-you-need-card p {
    color: #4b5563;
}

.everything-you-need-card ul {
    color: #4b5563;
    list-style: none;
}

.ready-to-simplify {
    background-color: #e0f2f1;
    padding: 8rem 2rem;
}

.ready-to-simplify-container {
    text-align: center;
    color: #fff;
    background-color: #059669;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ready-to-simplify-container h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.ready-to-simplify-container p {
    font-size: 1.5rem;
    max-width: 70rem;
    margin: 0 auto 3rem;
    line-height: 1.6;
}

.ready-to-simplify-btn {
    background-color: #fff;
    color: #0f9d6a;
    border: none;
    padding: 1.4rem 2.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.ready-to-simplify-btn:hover{
    box-shadow: 8px 2rem;
}

.footer {
    display: flex;
    padding: 3rem 3rem;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px) {
    .footer{
        flex-wrap: wrap;
    }
    
}